.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  /* padding: 20px; */
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 30;
}

.toggle-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #75ad1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-buttons button.active {
  background-color: #e1e2e0;
  color: black;
  font-weight: 600;
}

.panel-container {
  display: flex;
  max-width: 600px;
  width: 100%;
  background-color: rgb(7, 7, 7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.panel {
  flex: 1;
  padding: 20px;
  display: none;
}

.panel.active {
  display: block;
}

.auth-form {
  display: flex;
  flex-direction: column;
  z-index: 30;
}

.auth-form h2 {
  margin-bottom: 20px;
  color: white;
}

.auth-form input,
.auth-form select {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e4dfdf;
  border: 1px solid #141414;
  border-radius: 5px;
  color: rgb(19, 18, 18);
}
.auth-form input:focus {
  outline: none;
}

.auth-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #141414;
  border: 1px solid #141414;
  border-radius: 5px;
  color: white;
}
.auth-form textarea:focus {
  outline: none;
}

.auth-form button {
  padding: 10px;
  background-color: #75ad1a;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.auth-form button:hover {
  background-color: #2a5b9b;
}

.auth-toggle {
  margin-top: 20px;
  z-index: 30;
}

.auth-toggle a,
.auth-form a {
  color: #2a5b9b;
  text-decoration: none;
}

.auth-toggle p,
.auth-form p {
  color: white;
  text-decoration: none;
}

.auth-toggle a:hover,
.auth-form a:hover {
  text-decoration: underline;
}

.auth-background {
  position: absolute;
  /* z-index: -10; */
  display: block;
  background-size: cover;
  overflow: hidden;
  clip-path: margin-box;
  height: 100vh;
  width: 100%;
}

.auth-image {
  min-height: 100vh;
  min-width: 1800px;
  width: 100vw;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #141414;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .panel-container {
    width: 90%;
    max-width: 900px;
  }

  .toggle-buttons {
    flex-direction: column;
    width: 90%;
  }

  .toggle-buttons button {
    margin: 5px 0;
  }
}
