.home-container {
  background-color: black;
  height: 100vh;
}

.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.home-page h1 {
  color: #75ad1a;
}
.restaurant-list {
  margin-top: 20px;
}
.restaurant-list h2 {
  color: white;
}

.restaurant-link:hover {
  text-decoration: none;
}

.restaurant-item {
  background-color: #353232;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.restaurant-item:hover {
  background-color: #1f1f1f;
}

.restaurant-item h3 {
  margin: 0;
  color: #75ad1a;
}

.restaurant-item p {
  color: #909090;
  font-size: 12px;
  margin-top: 0;
}

.restaurant-item h4 {
  margin-top: 0;
  color: #cecece;
}

.restaurant-item ul {
  padding-left: 20px;
}

.restaurant-item li {
  margin-bottom: 5px;
  color: #909090;
  /* list-style: none; */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
