.home {
  min-height: 100vh;
  background-color: black;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  z-index: 30;
}
.home-page h1 {
  color: #ffa800;
}

.home-welcome {
  color: white;
  font-size: 44px;
  text-align: center;
}
.restaurant-list {
  margin-top: 20px;
}
.restaurant-list h2 {
  color: white;
}

.restaurant-link:hover {
  text-decoration: none;
}

.restaurant-item {
  background-color: #141414;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.restaurant-item:hover {
  background-color: #1f1f1f;
}

.restaurant-item h3 {
  margin: 0;
  color: #ffa800;
}

.restaurant-item p {
  color: #909090;
  font-size: 12px;
  margin-top: 0;
}

.restaurant-item h4 {
  margin-top: 0;
  color: #cecece;
}

.restaurant-item ul {
  padding-left: 20px;
}

.restaurant-item li {
  margin-bottom: 5px;
  color: #909090;
  /* list-style: none; */
}

button {
  background-color: #ffa800;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #c58300;
}

a {
  color: #ffa800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home-login {
  z-index: 40;
  display: flex;
  padding: 20px;
  /* background-color: #141414; */
  gap: 10px;
  border-radius: 10px;
}

.home-login a {
  padding: 10px;
  background-color: #ffa800;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.home-login a:hover {
  background-color: #c58300;
}
